body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/brands.jpg") no-repeat center center fixed; /* Replace 'background.jpg' with the path to your background image */
    background-size: cover;
    font-family: Arial, sans-serif;
}

.brands {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: To make text more readable over the background image */
    padding: 20px;
    border-radius: 10px;
}

.brands h1, .brands ul {
    color: rgb(211, 174, 26);
    margin: 0;
    font-size: 30px;
    padding: 0;
}

.brands ul {
    list-style-type: none;
    color: white;
}

.brands li {
    font-size: 24px;
    margin: 10px 0;
}
