*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.services {
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    align-items: center;
    margin: 100vh;
    flex-wrap: wrap;
    margin: 20px;
}

.service {
    text-align: center;
    margin: 15px;
}

.service img {
    width: 530px;
    height: 270px;
    object-fit: cover;
    border-radius: 15px;
}

h1 {
    font-size: 1.2em;
    margin-bottom: 15px;
}
